    <div class="contNavigator">

    <div class="menuNavigator">

    <a href="/items/1">Adoquín</a>
    <a href="/items/2">Laja</a>
    <a href="/items/3">Española</a>
    <a href="/items/4">Octogonal</a>



    <div class="inicioMenu">
        <button id="menuToggle" class="menuBTN"><span class="nameMenuBTN">Más</span></button>
        <div id="menuContent" class="menuContent" data-target="#menuContent">
        <nav>
            <a href="/items/5" class="menu-item">Curvo Grande</a>
            <a href="/items/6" class="menu-item">Curvo Chico</a>
            <a href="/items/7" class="menu-item">64 Panes</a>
            <a href="/items/8" class="menu-item">Diez Ladrillos</a>
            <a href="/items/9" class="menu-item">Travertino</a>
            <a href="/items/10" class="menu-item">Vainillas</a>
            <a href="/items/11" class="menu-item">Revestimiento</a>
            <a href="/items/12" class="menu-item">Otros Productos</a>
        </nav>
        </div>
    </div>
    </div>
</div>

