
  <div class="contHeader">
    <div class="contLogo">
        <a href="/items/1" class="logoIndex"><img src="/images/logo/logo_rust.svg" alt="Rustique" class="logoRust"></a>
    </div>
    <nav> 
      <div class="boxMenu">
        <a href="#indice" class="button-entrar"></a>
      </div>
    </nav>
  </div>
    <div class="contAllText">
      <div class="containerText">
          <h1 class="rustique" id="Rustique">RUSTIQUE</h1>
          <h2 class="subTitleRust">F치brica de baldosas para frentes y patios</h2>
          <p class="textInicio">Somos una cooperativa dedicada a la producci칩n y distribuci칩n de baldosas de hormig칩n vibrado.</p>
        
      </div>
    </div>

<script src="/js/main.js"></script>
