* {
    box-sizing: border-box;
}

:root{
    --color-orange:#f59d1b;
    --color-black: #1b1f1d;
    --color-grey: #606060;
    --color-white: #ecebeb;
    --color-cream: blanchedalmond;
}

@font-face {
    font-family: 'Romanica';
    src: url('/fonts/Romanica.ttf');
}

body {
    z-index: 400;
    scrollbar-width: none;
    max-height: 100vh;
    background-color: var(--color-cream);
    height: 100%;
    font-family: 'Lato', sans-serif;
    align-items: center;
}

header {
    width: 100%;
}


.contSocial{
    display: flex;
    min-width: 15%;
}

.contSocial ul {
    width: 20%;
    display: flex;
    justify-content: end;
}

.contSocial ul li {
    list-style: none;
    margin-right: 10px;
}

.contSocial ul li a {
    color: var(--color-black);
}

.contSocial ul li a:hover{
    color: var(--color-orange);
}



.contHeader {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.logoRust {
    display: flex;
    width: max-content;
    max-height: 300px;
}

.logoRust img {
    width: 13vw;
}


.contHeaderText {
    display: flex;
    justify-content: start;
}

.titleHeader {
    display: flex;
    flex-direction: column;
}

.titleHeader h1{
    font-size: 6.5vw;
    font-weight: 100;
    text-align: center;
    font-family: 'Romanica', Arial, Helvetica, sans-serif;
}

.titleRust {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0%;
}

.titleHeader p {
    font-family: 'Romanica', Arial, Helvetica, sans-serif;
}

.textRust {
    font-family: sans-serif;
    font-size: 2.3vw;
    margin-bottom: 0%;
}






.icon-redes {
    font-size: 30px;
}

.contHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


.contenedor-bajo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-top: 1px solid var(--color-orange);
    background-color: var(--color-black);
}




.contNavigator { 
    position: sticky;
    top: 0;
    z-index: 600;
}

.menuNavigator {
    width: 100%;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--color-orange);
    border-bottom: 3px solid var(--color-orange);
}


.menuNavigator a{
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1%;
}
.menuNavigator a{
    color: var(--color-orange);
    text-decoration: none;
}

.menuNavigator {
    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
}

.menuNavigator a:hover {
    background-color: var(--color-orange);
    transform: scale(1.03);
    transition: 0.6s;
    opacity: 1;
}




.menuNavigator a:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
}

.menuNavigator {
    position: relative;
    box-shadow: none;
}

.menuNavigator a {
    color: var(--color-orange);
    opacity: 0.8;
    text-transform: uppercase;
}

.menuNavigator a:hover a::selection {
    background-color: var(--color-orange);
    color: var(--color-black);
}

.menuNavigator a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}


button {
    border: none;
    background: none;
    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: var(--color-orange);
}







.inicioMenu {
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    z-index: 600;
    cursor: pointer;
}



.menuContent {
    width: 100%;
    display: none;
    margin-top: 25%;
    position: absolute;
    background-color: var(--color-black);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    border: 2px solid var(--color-orange);
    cursor: pointer;
}

.menuContent a {
    width: 100%;
    padding: 1.5%;
    height: 50%;
    text-decoration: none;
    display: block;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.menuContent a:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
    transform: scale(1.03);
    z-index: 550;
}

.inicioMenu:hover{
    background-color: var(--color-orange);
    color: var(--color-black);
    transition: all 250ms;
}

.inicioMenu:hover .menuContent{
    display: block;
}

.buttonPerfil:hover {
    background-color: var(--color-black);
    transform: scale(1.03);
    box-shadow: -1px 2px 10px rgba(0,0,0,0.3);
    transition: all 250ms;
}




.logoIndex {
    display: flex;
    justify-content: center;
}





.contHeader {
    top: 0%;
    width: 100%;
    height: auto;
    z-index: 50;
    display: flex;
}

.contLogo {
    width: 100%;
    max-height: 300px;
    align-items: center;
}

.logoRust {
    margin: 1.5% 0;
    display: flex;
    justify-content: center;
    width: 15%;
}



.logoRust:hover {
    transform: scale(1.1);
}


.containerText {
    width: 50%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.rustique {
    font-size: 6.5vw;
    margin: 0.5% auto;
    font-family: 'Romanica', Arial, Helvetica, sans-serif;
}

.subTitleRust {
    margin: 2% auto 1% auto;
    font-size: 2.5vw;
}

.rustique,
.subTitleRust,
.textInicio {
    text-align: center;font-family: 'Romanica', Arial, Helvetica, sans-serif;
}

.textInicio {
    font-size: 1.5vw;
    font-weight: normal;
}

.btnIn {
    width: 100%;
    text-align: center;
}

.btnIn a {
    width: 40%;
}

.btnIn input {
    background-color: var(--color-yellow);
    color: var(--color-black);
    border: 2px solid var(--color-black);
    font-weight: bold;
    font-family: sans-serif;
    width: 40%;
    max-width: 200px;
    height: 5vh;
    border-radius: 5px;
}

.btnIn input:hover {
    background-color: var(--color-black);
    color: var(--color-yellow);
}










footer {
    background-color: var(--color-black);
    font-family:  Arial, 'Gill Sans', 'Gill Sans MT';
    border-top: 3px solid var(--color-orange);
}

.containerFooterFirst {
    width: 90%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.containerTop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.boxFooter {
    text-align: center;
}

.boxFooter img {
    display: flex;
    width: 50%;
    margin: 4% auto;
}

.boxFooter h3 {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 5%;
    margin-bottom: 6%;
    font-weight: 550;
    color: var(--color-white);
}

.importInfo,
.cardDatesP a {
    color: var(--color-orange);
}

.importInfo:visited,
.cardDatesP a:visited {
    color: var(--color-orange);
}



.boxFooter p {
    font-size: 1.6vw;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 1%;
}

.containerRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerRedes a {
    display: inline;
    margin: 4%;
    text-decoration: none;
    color: var(--color-orange);
    background-color: var(--color-grey);
    transition: all 250ms ease;
    box-shadow: 1px 1px 1px var(--color-orange,0.1);
}

.containerRedes a:hover {
    transform: scale(1.1);
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}

.fa {
    width: 3.8vw;
    height: 3.8vw;
    line-height: 3.8vw;
    font-size: 2.5vw;
}

.facebook:hover{
    background: blue;
    color: var(--color-white);
}

.instagram:hover{
    background: linear-gradient(to bottom, rgb(183, 4, 219), rgb(255, 0, 200), rgb(255, 230, 1));
    color: var(--color-white);
}
.youtube:hover{
    background: red;
}
.twitter:hover{
    background: rgb(0, 191, 255);
}

.containerBottom {
    text-align: center;
    font-size: 1.4vw;
}

.containerFooter .containerBottom {
    background-color: #2c3e50;
    padding: 1% 10px;
    text-align: center;
    color: #2980b9;
}


.containerBottom {
    color: var(--color-white);
}




/***************************************************************************************************
                                    INICIO MEDIA QUERYS
****************************************************************************************************/

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
.contHeaderText {
    padding: 0 20px;
}

.menuNavigator {
    flex-wrap: wrap;
}

.menuNavigator a:active {
    background-color: var(--color-orange);
    color: var(--color-black);
}

button {
    border: none;
    background: none;
    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: var(--color-orange);
}

button :hover {
    color: var(--color-black);
}

.menuContent {
    display: none;
}

.menuContent.active {
    display: block;
}

.menu-item {
    margin-right: 10px;
}

.containerTop {
    flex-direction: column;
    text-align: center;
}

.boxFooter {
    width: 100%;
    }
}

/***************************************************************************************************
FIN MEDIA QUERYS
****************************************************************************************************/